@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h2>🎓 Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</h3>
<h3>Enrollment Date: @Model.EnrollmentDate?.ToString("MM/dd/yyyy")</h3>

@if(@Model.JoinStudent.Count == 0)
{
  <p>This student has not added any courses.</p>
}
else
{
  <h4>Courses this student is taking:</h4>
  <ul>
  
  @foreach(StudentCourse join in Model.JoinStudent)
  {
    <li>@join.Course.Description</li>
    @using (Html.BeginForm("DeleteJoin", "Students"))
    {
      @Html.Hidden("joinId", @join.StudentCourseId)
      <input type="submit" value="Delete"class="btn btn-primary" />
    }
  }
  </ul>
}

<div id="index-nav">
<p>@Html.ActionLink("Add course for this student", "AddCourse", new { id = Model.StudentId}) | @Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId }) | @Html.ActionLink("Add new student", "Create", "Students")</p>
</div>