@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Add a new course</h4>

<p>@Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Student)
  @Html.DropDownList("StudentId")

  <input type="submit" value="Add new course" class="btn btn-default" />
}

<p>@Html.ActionLink("Add enrollment date", "Edit")</p>
<p>@Html.ActionLink("Show all items", "Index")</p>