@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Add a new course</h4>
@* was model.StudentId *@
<p>@Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { required="required" })
  @Html.Label("Select Department")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Add new course" class="btn btn-primary"/>
}