@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Course

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>  

@* Model.JoinDepartment == null ||  *@
@if(Model.JoinDepartment.Count == 0)
@* @if(@Model.JoinDepartment.Count == 0) *@
{
  <p>This course does not have an assigned department yet!</p>
}
else
{
  <h4>This course is listed in the following department:</h4>
  <ul>
    @foreach(CourseDepartment join in Model.JoinDepartment)
    {
      <li>Department: @join.Department.CourseName</li>
      @using (Html.BeginForm("DeleteJoin", "Courses"))
      {
        @Html.Hidden("joinId", @join.CourseDepartmentId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
@* <h3>@Html.DisplayNameFor(model => model.Student): @Html.DisplayFor(model => model.Student.StudentName)</h3> *@

@* Model.JoinStudent == null ||  *@
  @if(Model.JoinStudent.Count == 0)
  @* @if(@Model.JoinDepartment.Count == 0) *@
{
  <p>This course has no students!</p>
}
else
{
  <h4>Students in course:</h4>
  <ul>
  
  @foreach(StudentCourse join in Model.JoinStudent)
  {
    @*<li>@join.Student.StudentId</li>*@
    <li>@join.Student.StudentName</li>

    @using (Html.BeginForm("DeleteJoin", "Courses"))
    {
      @Html.Hidden("joinId", @join.StudentCourseId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}



<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Course or Student", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add a Deparement", "AddDepartment", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>