@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Course

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>  
<h3>@Html.DisplayNameFor(model => model.Student): @Html.DisplayFor(model => model.Student.StudentName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course does not have an assigned department yet!</p>
}
else
{
  <h4>This course is listed in the following department:</h4>
  <ul>
    @foreach(CourseDepartment join in Model.JoinEntities)
    {
      <li>Department: @join.Department.CourseName</li>
      @using (Html.BeginForm("DeleteJoin", "Courses"))
      {
        @Html.Hidden("joinId", @join.CourseDepartmentId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Course or Student", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add a Deparement", "AddDepartment", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.CourseId })</p>